.online-gaming-background {
  background-color: rgb(250, 206, 149);
  background-size: cover;
  min-height: 92vh;
  width: 100vw;

}

.message {
  color: black;
  text-align: center;
  font-family:'Brush Script MT', cursive;
  font-size: 9vh;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(1, 83, 1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.glow {
  color: rgba(250, 235, 215, 1);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(250, 235, 215, 1), 0 0 20px rgba(250, 235, 215, 1), 0 0 30px rgb(1, 83, 1), 0 0 40px rgb(1, 83, 1), 0 0 50px rgb(1, 83, 1), 0 0 60px rgb(1, 83, 1), 0 0 70px rgb(1, 83, 1);
  }
  to {
    text-shadow: 0 0 20px rgba(250, 235, 215, 1), 0 0 30px rgb(0, 150, 0), 0 0 40px rgb(0, 150, 0), 0 0 50px rgb(0, 150, 0), 0 0 60px rgb(0, 150, 0), 0 0 70px rgb(0, 150, 0), 0 0 80px rgb(1, 83, 1);
  }
}
