<div class="main-div" *ngIf="player">
  <mat-card class="deposit-money-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{player.username}}</mat-card-title>
      <mat-card-subtitle>Deposit Money</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>
      <div class="content">

        <button mat-raised-button class="add-money-button" matTooltip="Add money here" (click)="addMoney()">Click me!</button>
        <div>Total amount in wallet: {{player.currentMoney | currency: 'USD': 'symbol': '1.2-2'}}</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="moneyAdded">Added Money!</div>
