 <mat-card class="login">
   <mat-card-header>
    <mat-card-title>Log In</mat-card-title>
    <mat-card-subtitle>Please input your login information.</mat-card-subtitle>
   </mat-card-header>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" class="example-right-align" [(ngModel)]='username'>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]='password'>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-stroked-button (click)='onClickEnter()'>
        ENTER
        <!-- <button mat-button *ngIf='loggedIn' (click)="openDialog()">Launch dialog</button> -->
      </button>
    </div>
    <mat-card-content>
      <p>
        Haven't signed up? <button mat-button routerLink="/home">Sign up here!</button>
      </p>
    </mat-card-content>
</mat-card>
