<mat-toolbar>
  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item routerLink="/home">Home</button>
      <button mat-menu-item routerLink="/games">Local Games</button>
      <button mat-menu-item>Multiplayer Games</button>
      <button mat-menu-item routerLink="/deposit-money">Deposit Money</button>
      <button mat-menu-item routerLink="/personal-account" *ngIf='loggedIn'>Personal Account</button>

      <!-- <button mat-menu-item routerLink="/home" *ngIf="(loggedIn$ | async); else notLoggedIn"> -->
      <button mat-menu-item routerLink="/home" *ngIf="loggedIn else notLoggedIn" (click)="onLogoutClick()">
        Log Out
      </button>

      <ng-template #notLoggedIn>
        <button mat-menu-item routerLink="/login">
          Log In
        </button>
        <button mat-menu-item routerLink="/sign-up">
          Sign Up
        </button>
      </ng-template>
    </ng-template>
  </mat-menu>

  <button mat-icon-button class="mat-icon-button menu" [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button class="title" routerLink="/home">
    <!-- Make badge for Casino Royal! -->
    <span class="title">{{title}}</span>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="personal-settings" routerLink="/personal-account" matTooltip="Personal Account">
    <span class="material-icons md-36">
      account_box
    </span>
  </button>

</mat-toolbar>

<router-outlet></router-outlet>


