mat-toolbar {
  background-color: rgb(29, 29, 29);
  height: 8vh;
  width: 100;
}

.example-spacer {
  flex: 1 1 auto;
}

.material-icons.md-36 {
  font-size: 36px;
  color: white;
}

button.mat-button.title {
  background-color: rgb(29, 29, 29);
}

span.title {
  color:white;
  font-family: Georgia;
  font-size: 30px;
}

button.mat-menu-item {
  color:black,
}

button.mat-icon-button {
  color: white;
}

button.mat-icon-button.personal-settings {
  background-color:  rgb(29, 29, 29);
}
