<mat-toolbar>
  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item routerLink="/home">Home</button>
      <button mat-menu-item routerLink="/games">Local Games</button>
      <button mat-menu-item>Multiplayer Games</button>
      <button mat-menu-item routerLink="/deposit-money">Deposit Money</button>
      <button mat-menu-item *ngIf= 'loggedIn'>Account Settings</button>
      <button mat-menu-item routerLink="/logIn"
        (click)='toggleLogIn()'>
        Log {{loggedIn ? 'Out': 'In'}}
      </button>
    </ng-template>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu" style="margin-right:10px">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button class="title" routerLink="/home">
    <span class="title">{{title}}</span>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="personal-settings">
    <!--Add route to Personal Account here-->
    <span class="material-icons md-36">
      account_box
    </span>
  </button>

</mat-toolbar>

<router-outlet></router-outlet>


