<div class="Blackjack" *ngIf="player">
  <div *ngIf='((!gameInProgress || table.result) && player.currentMoney > 0)'>
    <input type='number' #box [(ngModel)]='player.bet'>
    <button class='place-bet' (click)="onClickPlaceBet(box.value)">
      Place Bet
    </button>
  </div>
  <div *ngIf='player.currentMoney === 0 && (winner || tie || bust)'>
    <button class='deposit-money' routerLink="/deposit-money">
      Deposit Money
    </button>
  </div>
  <br>
  <p>Money in wallet: {{player.currentMoney}}</p>
  <p *ngIf='! gameInProgress'>Please enter an amout equal to or less than the money in your wallet.</p>


  <div *ngIf="table">
    <div *ngIf='table.dealer.cards.length > 0'>
      <h3>Dealer Hand:</h3>
      <div *ngFor='let card of table.dealer.cards'>
        &nbsp; {{card.suit}}
        &nbsp; {{card.value}}
      </div>
      <h3>{{table.player.username}}'s Hand:</h3>
      <div *ngFor='let card of table.player.cards'>
        &nbsp; {{card.suit}}
        &nbsp; {{card.value}}
      </div>
    </div>
    <br>

    <div *ngIf='gameInProgress'>
      <button class='hit'  (click)='!winner && clickHit()'>
        Hit Me
      </button>
      <button class='stay' (click)='!winner && clickStay()'>
        Stay
      </button>
    </div>

    <p *ngIf='table.player.score === 21 && table.player.cards.length === 2'>
      Blackjack!
    </p>

    <p *ngIf='table.result==="PlayerWins"'>
      <!-- Winner: {{winner.name}} -->
      Winner: {{table.player.username}}
    </p>
    <p *ngIf='table.result==="DealerWins"'>
      <!-- Winner: {{winner.name}} -->
      Winner: Dealer {{table.dealer.name}}
    </p>
    <p *ngIf='table.result==="Tie"'>
      Push!
    </p>
    <p *ngIf='table.result==="Bust"'>
      Bust!
    </p>
  </div>

  <br>
  <br>
  <br>

  <button class='show-helper-card' (click)="toggleHelperCard()">
    {{showHelperCard ? 'Hide': 'Show'}} S17 Blackjack Card
  </button>
  <br>
  <img src='../../../assets/images/blackjack/blackjack-playing-card.jpg' *ngIf='showHelperCard'>
</div>
