<div class="games-background">
  <span>

    <button mat-button class="game-button" (click)="onClick()">
      Play Blackjack
    </button>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

    <button mat-button class="game-button" routerLink="/games/omaha-holdem">
      Play Omaha Hold'em
    </button>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

    <button mat-button class="game-button" routerLink="/games/texas-holdem">
      Play Texas Hold'em
    </button>

  </span>
</div>

  <!-- <router-outlet></router-outlet> -->
  <!-- <mat-tab-group>
    <mat-tab label="Blackjack">
      <app-blackjack></app-blackjack>
    </mat-tab>
    <mat-tab label="Texas Hold'em">
      <app-texas-holdem></app-texas-holdem>
    </mat-tab>
    <mat-tab label="Omaha Hold'em">
      <app-omaha-holdem></app-omaha-holdem>
    </mat-tab>
  </mat-tab-group> -->

