div.container {
  background-color: black;
}

.game-button {
  border: none;
  color: white;
  padding: 2vh 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  background-color: #810000;
  font-family: 'Times New Roman'

}

.games-background {
  background-image: url('../../assets/images/games-photos/blackjack-5.jpg');
  background-size: cover;
  min-height: 92vh;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

/* .blackjack{
  background-image: url('../../assets/images/games-photos/blackjack-5.jpg');
  background-size: cover;
}

.texas-holdem{
  background-image: url('../../assets/images/games-photos/texas-holdem.jpg');
  background-size: cover;
}

.omaha-holdem{
  background-image: url('../../assets/images/games-photos/omaha-holdem-5.jpg');
  background-size: cover;
} */

