<!-- <div class="container">
  <mat-grid-list cols="3" rowHeight="25vh" rowWidth="100vh">
    <ng-container *ngFor="let tile of tiles">
      <mat-grid-tile class="grid-tile" [ngClass]='tile.class'
          [colspan]="tile.cols"
          [rowspan]="tile.rows">
          <button mat-raised-button class="tile-button" [routerLink]="tile.route">
            Play {{tile.text}}
          </button>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
  </div>

  <router-outlet></router-outlet> -->

  <mat-tab-group>
    <mat-tab label="Blackjack">
      <app-blackjack></app-blackjack>
    </mat-tab>
    <mat-tab label="Texas Hold'em">
      <app-texas-holdem></app-texas-holdem>
    </mat-tab>
    <mat-tab label="Omaha Hold'em">
      <app-omaha-holdem></app-omaha-holdem>
    </mat-tab>
  </mat-tab-group>

