
.game-button {
  border: none;
  color: white;
  padding: 2vh 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  background-color: #810000;
  font-family: 'Times New Roman'

}

.games-background {
  background-image: url('../../assets/images/games-photos/blackjack-5.jpg');
  background-size: cover;
  min-height: 92vh;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 1000px) {
  span {
    display: flex;
    flex-direction: column;
  }

  .game-button {
    margin: 0 0 7vh 0;
    font-family: cursive;
  }

  .glow {
    color: rgba(250, 235, 215, 1);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 5px rgba(250, 235, 215, 1), 0 0 10px rgba(250, 235, 215, 1), 0 0 20px rgba(255, 217, 0, 0.5), 0 0 40px rgba(255, 217, 0, 0.5), 0 0 35px rgba(255, 217, 0, 0.5), 0 0 45px rgba(255, 217, 0, 0.5), 0 0 50px rgba(255, 217, 0, 0.5);
    }
    to {
      text-shadow: 0 0 10px rgba(250, 235, 215, 1), 0 0 15px rgba(255, 217, 0, 0.5), 0 0 40px rgba(255, 217, 0, 0.568), 0 0 35px rgba(255, 217, 0, 0.5), 0 0 60px rgba(255, 217, 0, 0.5), 0 0 50px rgba(255, 217, 0, 0.5), 0 0 60px rgba(255, 217, 0, 0.5);
    }
  }

}

