div.container {
  background-color: black;
  min-height:max-content;
}

.tile-button {
  border: none;
  color: white;
  padding: 2vh 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  background-color: #810000;
  font-family: 'Times New Roman'

}

.single-player{
  background-image: url('../../assets/images/home/home-image-1.jpg');
  background-size: cover;
}

.multi-player{
  background-image: url('../../assets/images/home/home-image-2.jpg');
  background-size: cover;
}

.deposit-money{
  background-image: url('../../assets/images/home/home-image-3.jpg');
  background-size: cover;
}

.personal-account{
  background-image: url('../../assets/images/home/home-image-4.jpg');
  background-size: cover;
}
