div.container {
  background-color: black;
  min-height:max-content;
}

.tile-button {
  border: none;
  color: white;
  padding: 2vh 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  background-color: #810000;
  font-family: 'Times New Roman'
}

.single-player{
  background-image: url('../../assets/images/home/home-image-1.jpg');
  background-size: cover;
}

.multi-player{
  background-image: url('../../assets/images/home/home-image-2.jpg');
  background-size: cover;
}

.deposit-money{
  background-image: url('../../assets/images/home/home-image-3.jpg');
  background-size: cover;
}

.personal-account{
  background-image: url('../../assets/images/home/home-image-4.jpg');
  background-size: cover;
}

.mobile-container {
  display: none
}


@media (max-width: 1000px) {

  .container {
    display: none;
  }

  .tile-button {
    font-family: cursive;
  }


  .mobile-container {
    display: grid;
    grid-template-rows: repeat(3, 32vh);
    grid-template-rows: 32vh 32vh 38vh;
    background-color: black;
    min-height:max-content;
  }

  .mobile-option {
    display: flex;
    background-size: cover;
    width: 100%;
    height: 32vh;
    align-items: center;
    justify-content: center;
  }

  .local-game-play {
    order: 1;
    background-image: url('../../assets/images/home/home-image-1.jpg');
  }

  .deposit-money {
    order: 2;
    background-image: url('../../assets/images/home/home-image-3.jpg');
  }

  .personal-account {
    flex-direction: column;
    order: 3;
    background-image: url('../../assets/images/home/home-image-4.jpg');
    height: 38vh;
    position: relative;
  }

  .footer {
    text-align: center;
    font-family: cursive;
    font-size: 4vh;
    color: rgba(250, 235, 215, 1);
    position: absolute;
    bottom: 1vh;
  }

  .glow {
    color: rgba(250, 235, 215, 1);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  .glow-footer {
    color: rgba(250, 235, 215, 1);
    -webkit-animation: glow-footer 1s ease-in-out infinite alternate;
    -moz-animation: glow-footer 1s ease-in-out infinite alternate;
    animation: glow-footer 1s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 5px rgba(250, 235, 215, 1), 0 0 10px rgba(250, 235, 215, 1), 0 0 20px rgba(255, 217, 0, 0.5), 0 0 40px rgba(255, 217, 0, 0.5), 0 0 35px rgba(255, 217, 0, 0.5), 0 0 45px rgba(255, 217, 0, 0.5), 0 0 50px rgba(255, 217, 0, 0.5);
    }
    to {
      text-shadow: 0 0 10px rgba(250, 235, 215, 1), 0 0 15px rgba(255, 217, 0, 0.5), 0 0 40px rgba(255, 217, 0, 0.568), 0 0 35px rgba(255, 217, 0, 0.5), 0 0 60px rgba(255, 217, 0, 0.5), 0 0 50px rgba(255, 217, 0, 0.5), 0 0 60px rgba(255, 217, 0, 0.5);
    }
  }

  @keyframes glow-footer {
    from {
      text-shadow: 0 0 10px rgba(250, 235, 215, 1), 0 0 20px rgba(250, 235, 215, 1), 0 0 30px rgb(1, 83, 1), 0 0 40px rgb(1, 83, 1), 0 0 50px rgb(1, 83, 1), 0 0 60px rgb(1, 83, 1), 0 0 70px rgb(1, 83, 1);
    }
    to {
      text-shadow: 0 0 20px rgba(250, 235, 215, 1), 0 0 30px rgb(0, 150, 0), 0 0 40px rgb(0, 150, 0), 0 0 50px rgb(0, 150, 0), 0 0 60px rgb(0, 150, 0), 0 0 70px rgb(0, 150, 0), 0 0 80px rgb(1, 83, 1);
    }
  }
}
